[Unit]
Description=JACK Passthrough
Wants=audio.out.service audio.in.service
After=audio.out.service audio.in.service
PartOf=audioserver.target
[Service]
Type=oneshot
RemainAfterExit=yes
Environment="JACK_NO_AUDIO_RESERVATION=1"
ExecStartPre=/bin/sleep 5
ExecStart=/StartPassthrough.sh
#ExecStart=/Jack2.sh
WorkingDirectory=/usr/local/bin
StandardOutput=inherit
StandardError=inherit
#Restart=always
User=root

[Install]
WantedBy=multi-user.target
